<!DOCTYPE html>
<html lang="en">
<head>
  <title>HackMotion (Edgars Gogolevs)</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/mobile.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <img class="logo" src="/static/assets/images/logo.png" alt="HackMotion logo">
  </header>
  <main>
    <section class="quiz-summary-box">
      <div class="quiz-summary-text-col">
        <h2 class="quiz-summary-title">
          We have put together a swing improvement solution to help you <span class="accent-text">{{ help_break | safe }}</span>
        </h2>
        <div class="pack-description-container">
          <h3 class="pack-description-title">Pack includes:
          </h3>
          <ul class="pack-description-list">
            <li>Swing Analyzer - HackMotion Core </li>
            <li>Drills by coach Tyler Ferrell</li>
            <li>Game improvement plan by HackMotion</li>
          </ul>
          <button id="startNowButton" onclick="startNowHandler(this)" class="start-button alt-text">
            Start Now <img src="/static/assets/images/right-arrow.svg" alt="Right arrow">
          </button>
        </div>
      </div>
      <div id="heroMobile" class="hero-image-container">
        <div class="hero-image-container__graph">
          <img src="/static/assets/images/imp_graph_mobile.png" alt="Improvement graph">
        </div>
        <div class="hero-image-container__info">
          <img class="mt" src="/static/assets/images/improvement_mobile.png" alt="Improvement info">
        </div>
        <div class="hero-image-container__info">
          <img class="mt" src="/static/assets/images/rate_mobile.png" alt="Improvement info">
        </div>
      </div>
      <div id="heroDesktop" class="hero-image-container">
        <div class="hero-image-container__graph">
          <img src="/static/assets/images/improvement_graph.png" alt="Improvement graph">
        </div>
        <div class="hero-image-container__info">
          <img class="mt" src="/static/assets/images/frame_desktop.png" alt="Improvement info">
        </div>
      </div>
    </section>


    <div>
      <section class="video-section">
        <h2 class="video-section-title accent-text">The best solution for you: Impact Training Program</h2>
        <div class="video-section-tutorial">
          <div class="video-wrapper">
            <video id="videoTutorial" controls>
              <source id="videoTutorial" src="/static/assets/videos/Impact-Drill.mp4" type="video/mp4">
              Video tag is not supported by your browser :(
            </video>
          </div>
            <div class="video-progress-container">
              <div id="videoProgress" class="video-progress-bar"></div>
            </div>
          <div class="tutorial-cards">

            <div id="staticCard" class="tutorial-card">
              <div onclick="toggleCard(this)" class="card-header">
                <img class="card-toggle-icon" src="/static/assets/images/expand.svg" alt="Card expand icon">
                <h3 class="accent-text">Static top drill</h3>
              </div>
              <div class="card-body">
                <p class="card-text">Get a feel for the optimal wrist position at Top of your swing</p>
              </div>
            </div>

            <div id="dynamicCard" class="tutorial-card">
              <div onclick="toggleCard(this)" class="card-header">
                <img class="card-toggle-icon" src="/static/assets/images/expand.svg" alt="Card expand icon">
                <h3 class="accent-text">Dynamic top drill</h3>
              </div>
              <div class="card-body">
                <p class="card-text">Dynamically train your wrist position at Top</p>
              </div>
            </div>

            <div id="fullCard" class="tutorial-card">
              <div onclick="toggleCard(this)" class="card-header">
                <img class="card-toggle-icon" src="/static/assets/images/expand.svg" alt="Card expand icon">
                <h3 class="accent-text">Top full swing challenge</h3>
              </div>
              <div class="card-body">
                <p class="card-text">Train your maximum power swing</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <p>Copyright 2025 © HackMotion | All Rights Reserved</p>
  </footer>
  <script src="/static/scripts/analytics.js"></script>
  <script src="/static/scripts/index.js"></script>
</body>
</html>
